*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a,
a:is(:focus, :hover) {
  text-decoration: none;
}

a img, span,
video {
  display: block;
}

video,
img {
  width: 100%;
  max-width: 100%;
}

:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
  font-size: inherit;
  font-weight: 700;
}

button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  line-height: normal;
  display: block;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  font-family: "Cairo", sans-serif;
  font-size: 1.6rem;
  overflow-y: overlay;
  line-height: 1.6;
  min-height: 100vh;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 1100px;
  margin-inline: auto;
  padding-inline: 1.6rem;
}

.f-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.f-column-center {
  display: flex;
  align-items: center;
}

.f-column-between {
  display: flex;
  justify-content: space-between;
}

.nav-links-center-flex .nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Scroll customisation */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--scollbar-track-bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-bg-clr);
  border-radius: var(--scrollbar-thumb-radius);
}

/* Scroll To Top  Button  */
.btn {
  transition: all 0.15s ease-in;
  background-color: transparent;
  border: 1px solid transparent;
  text-transform: capitalize;
  display: block;
  padding: 5px;
  border-radius: 0.2rem;
  text-align: center;
  white-space: nowrap;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow: hidden;
  cursor: pointer;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
  background-color: blue;
}
body .container {
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 0;
}
body .list {
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  min-width: 400px;
  margin: auto;
  gap: 5px;
}
body .list .item {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: white;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #888;
  border-radius: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s ease-in-out;
  cursor: move;
}
body .list .item.dragging {
  opacity: 0;
  border-color: red;
}
body .list .item.in-place {
  background-color: #80ff80;
  border: 2px solid green;
}
body .list .item.not-in-place {
  border: 2px solid red;
  background-color: #ffe6e6;
}
body .list .item img {
  max-width: 50px;
  border-radius: 50%;
}
body .btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
body .btn {
  background-color: white;
  color: blue;
  border-radius: 5px;
  padding: 0px 10px;
  margin: 50px auto 0;
}